@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Singleton</h2>
            <p>
                Instances: @ViewBag.Singleton

            </p>
            <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/mujeeb-dev/">LinkedIn</a> <a class="btn btn-outline-dark" href="https://github.com/mujeebdevInd/">Github</a></p>
            <p></p>
        </section>
       
    </div>
</main>